html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(99, 150, 173, 0)),
    to(rgb(156, 171, 195))
  );
  background-image: linear-gradient(
    to right,
    rgba(99, 150, 173, 0),
    rgb(156, 171, 195)
  );
  color: #045c86;
}

.title-wrap {
  margin-top: 80px;
  padding-bottom: 30px;
}

.title-wrap h4 {
  line-height: 1.5em;
  font-size: 1.8em;
}

button {
  color: #045c86;
  border: 1px solid rgba(4, 93, 134, 0.61);
  background-color: rgba(255, 255, 255, 0.486);
  padding: 10px;
  margin: 10px;
}

button:hover {
  background-color: rgba(167, 202, 218, 0.61);
}

label {
  padding: 20px;
}

.name-wrap h4 {
  font-size: 2em;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.time-wrap h4 {
  font-size: 3em;
  padding-bottom: 40px;
}

.board {
  text-align: center;
}

.board {
margin-top: 0;
}

.col-lg-7 {
  background-color: #e7eaf4;
  margin-top: 50px;
  padding: 0 100px 50px 100px;
  text-align: center;
}

.col-md-10 {
  padding-top: 60px;
}

/* nav */
.nav {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  z-index: 10;
  color: white;
}

.link {
  display: inline-block;
  padding: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.link a {
  text-decoration: none;
  color: #045c86;
}
